# Backend
DB_URL=jdbc:h2:mem:adrdetectdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;NON_KEYWORDS=USER
DB_DRIVER=org.h2.Driver
DB_USERNAME=sa
DB_PASSWORD=
DB_DIALECT=org.hibernate.dialect.H2Dialect
DDL_AUTO=create-drop
H2_CONSOLE_ENABLED=false
CORS_ALLOWED_ORIGINS=http://localhost:3000

# Frontend
VITE_API_URL=http://localhost:8085/api
